* {
   margin: 0px;
   padding: 0;
   box-sizing: border-box;
}

img {
   width: 100%;
}
input {
   color: white !important;
}

a {
   text-decoration: none !important;
}
main {
   min-height: 85vh;
}
